# Dependencies
backend/vendor/
frontend/node_modules/

# Environment
backend/.env
backend/storage/*.key

# Laravel storage
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/.phpunit.result.cache

# Frontend build
frontend/dist/

# OS
.DS_Store

# Docker
mysql-data/
backend/SPEC.md
